<!DOCTYPE html>
<html>
    <head>
        <title>add</title>
        <link rel="stylesheet" href="{{url_for('static', filename='add.css')}}">
    </head>
    <body>
        <h1>Hi User 🙋‍♂️
        </h1>
        
        <p>You can add your task..</p>
        <hr>

        <form method="POST" action="{{ url_for('add_task') }}">
            <label>Note Task:</label>
            <input type="text" name="task" placeholder="Enter task" required>
            <button type="submit">Add</button>
        </form>
    </body>
</html>
